{% extends "blog/blog.html" %}

{% load markdown %}
{% load static %}

{% block content %}
    <div id="content-frame">
        <div class="container">
            {% url 'blog:blog-list' as back_link %}
            {% include "widgets/back_link.html" with back_url=back_link %}

            <h1 class="text-muted text-center">{{post.title}}</h1>
            {% if user.is_superuser %}
                <div class="blog-toolchain text-center">
                    <a class="btn-edit" href="{% url 'blog:post-edit' post.slug %}">Edit</a>
                    <a class="btn-edit" href="{% url 'blog:post-delete' post.slug %}">Delete</a>
                    {% if post.published %}
                        <a class="btn-edit" href="{% url 'blog:post-publish' post.slug %}?action=retract">Retract</a>
                    {% else %}
                        <a class="btn-edit" href="{% url 'blog:post-publish' post.slug %}?action=publish">Publish</a>
                    {% endif %}
                </div>
            {% endif %}
            <div id="post-content" class="list-view">
                <div id="modal-readme-content">
                    {{ post.content | markdown | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/clipboard.js' %}"></script>
{% endblock %}
