{% extends "layouts/app.html" %}

{% load markdown %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/syntax.css' %}" />
{% endblock %}

{% block content %}
    <div id="content-frame">
        <div class="projects-container">
            <div class="back-link">
                <a href="{% url 'blog:blog-list' %}" class="btn-back">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                        />
                    </svg>
                    Back
                </a>
            </div>

            <h1 class="text-muted text-center">{{post.title}}</h1>
            {% if user.is_superuser %}
                <div class="blog-toolchain text-center">
                    <a class="btn-edit" href="{% url 'blog:post-edit' post.slug %}">Edit</a>
                </div>
            {% endif %}
            <div id="post-content" class="list-view">
                <div id="modal-readme-content">
                    {{ post.content | markdown | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/clipboard.js' %}"></script>
{% endblock %}
