{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/minigrim0.jpeg' %}" />
    <title>Minigrim0</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="module" src="https://unpkg.com/@hotwired/turbo@8.0.4" defer></script>
</head>

<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include "layouts/footer.html" %}
</body>
</hmtl>
