<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Minigrim0</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url "index" %}" class="nav-link {% if page_name == 'Home' %}active{% endif %}" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url "cv" %}" class="nav-link {% if page_name == 'CV' %}active{% endif %}">CV</a>
            </li>
            <li class="nav-item">
                <a href="{% url "projects" %}" class="nav-link {% if page_name == 'Projects' %}active{% endif %}">Projects</a>
            </li>
        </ul>
    </header>
</div>
