// Import variables
@use "variables" as *;

@font-face {
    font-family: "AnonymiceProNerdFont";
    src: url("/static/fonts/AnonymiceProNerdFont-Regular.ttf"), format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AnonymiceProNerdFont";
    src: url("/static/fonts/AnonymiceProNerdFont-Bold.ttf"), format("ttf");
    font-weight: bold;
    font-style: normal;
}

:root {
    color-scheme: light dark;
}

body {
    font: 100% $font-stack;
    background: $background-color;
    color: $text-color;
    background-image: url("/static/img/noise.png");
    background-size: 200px;
    font-size: 2em;
    margin: 0px;
    transition:
        color 0.2s,
        background 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack;
    color: $header-color;
}

footer {
    height: $footer-height;
}

.content {
    min-height: calc(100vh - $footer-height);
}

.no-overflow {
    overflow-y: hidden;
}

.m-0 {
    margin: 0;
}

.centered-row {
    display: grid;
    grid-template-columns: 10vw 15vw auto 10vw;
    grid-template-rows: 30vh 40vh calc(30vh - $footer-height);
}

.pseudo {
    text-decoration: none;
}

.text-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-center {
    text-align: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.muted-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-decoration: underline;

    a {
        display: inline-flex;
        align-items: center;
        padding: 8px 12px;
        background: theme-color(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
        color: theme-color(color(neutral-800), color(neutral-100));
        text-decoration: none;
        border-radius: 4px;
        font-size: 0.9em; /* Slightly smaller font size */
        border: 1px solid $border-color; /* Subtle border */

        &:hover {
            background-color: theme-color(
                rgba(0, 0, 0, 0.2),
                rgba(255, 255, 255, 0.2)
            ); /* Lighter on hover */
        }

        svg {
            margin-right: 6px;
            width: 14px; /* Slightly smaller icon */
            height: 14px;
        }
    }
}

.image-left {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 15vw;
        margin: auto;
        border-radius: 50%;
    }
}

.content-justify {
    justify-content: space-evenly;
    display: flex;
}
