// Import variables if not already imported
@use "variables" as *;

.view-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
        background-color: transparent;
        border: 1px solid theme-color(color(neutral-800), color(neutral-100));
        color: theme-color(color(neutral-800), color(neutral-100));
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
    }

    .active {
        background-color: $card-hover-background;
    }
}

.list-view .project-item {
    margin-bottom: 20px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .project {
        &-title {
            word-break: break-all;
        }

        &-description {
            text-align: justify;
        }

        &-links {
            justify-content: end;
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }

    .grid-collapse {
        display: none;
    }
}

.project {
    &-item {
        background-color: $card-background;
        border-radius: 8px;
        padding: 20px;
        position: relative;
    }

    &-title {
        margin-top: 0;
        font-size: 1.5em;
    }

    &-description {
        margin-bottom: 1.2em;
    }

    &-links {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        align-items: center; /* This will vertically center the links */
        margin-top: auto;
    }

    &-link {
        display: inline-flex;
        align-items: center;
        color: theme-color(color(neutral-800), color(neutral-100));
        text-decoration: none;
        font-size: 0.9em;
        padding: 5px 10px; /* Add some padding for better clickability */
        background-color: $card-background; /* Slight background for better visibility */
        border-radius: 4px; /* Rounded corners */
        transition: background-color 0.2s ease; /* Smooth transition for hover effect */
        cursor: pointer;

        &:hover {
            background-color: $card-hover-background; /* Lighten on hover */
        }

        .grid-collapse {
            margin-left: 5px;
        }

        svg {
            width: 16px; /* Ensure consistent width */
            height: 16px; /* Ensure consistent height */
        }

        .home-icon,
        .github-icon,
        .readme-icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
        }

        .home-icon {
            content: "🏠 ";
            font-size: 16px;
            line-height: 1;
        }

        .readme-icon {
            content: "📖 ";
            font-size: 16px;
            line-height: 1;
        }
    }

    &-readme {
        background-color: theme-color(
            rgba(0, 0, 0, 0.1),
            rgba(255, 255, 255, 0.05)
        );
        border-radius: 4px;
        padding: 10px;

        h3 {
            margin-top: 0;
            font-size: 1.2em;
        }
    }
}

.readme-content {
    font-size: 0.9em;
    max-height: 200px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .grid-view {
        grid-template-columns: 1fr;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: theme-color(color(neutral-200), color(neutral-700)) !important;

    &-title {
        font-size: 0.7em;
        color: theme-color(color(neutral-200), color(neutral-700));
    }

    &-content {
        background-color: theme-color(color(neutral-300), color(neutral-400));
        margin: 15% auto;
        padding: 20px;
        border: 1px solid theme-color(color(neutral-400), color(neutral-500));
        width: 80%;
        max-width: 700px;
    }

    &-readme-content {
        color: theme-color(color(neutral-200), color(neutral-700)) !important;
        font-size: 0.6em;
        border-radius: 10px;
        background-color: theme-color(color(neutral-100), color(neutral-600));
        border: 1px solid theme-color(color(neutral-400), color(neutral-500));
        padding: 10px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: theme-color(
                color(neutral-200),
                color(neutral-700)
            ) !important;
            margin-top: 0;
        }
    }

    .close {
        color: theme-color(color(neutral-700), color(neutral-200));
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: theme-color(color(neutral-800), color(neutral-100));
            text-decoration: none;
            cursor: pointer;
        }
    }
}
/*
.readme-button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        background-color: #ddd;
    }
} */
