.supercodeblock {
    border: 1px solid black;
    padding-top: 3px;
    border-radius: 5px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.supercodeblock .filename {
    color: #555;
    display: inline-block;
    font-family: monospace;
    margin-bottom: 0px;
    padding: 5px;
}

.supercodeblock hr {
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.highlight pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

.supercodeblock .code-block {
    display: flex;
    background: #f8f8f8;
}

.code-block .numbering {
    width: 25px;
}

.numbering .highlight {
    border-right: 1px solid black;
}
