{% extends "layouts/app.html" %}
{% load  static %}
{% load markdown %}
{% load range %}

{% block content %}
<div class="container">
    <div class="back-link">
        <a href="{% url 'index' %}">
            back
        </a>
    </div>
    <div class="row mt">
        <div class="image-left">
            <img src="{% static "img/minigrim0.jpeg" %}" class="rounded img-fluid" alt="minigrim0">
        </div>
        <div class="col-9 align-self-center">
            <h1>Florent Grimau</h1>
            <h5>Student in Embedded Systems @KTH</h5>
            <p>
                <a href="https://github.com/Minigrim0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Minigrim0
                </a>
            </p>
        </div>
    </div>

    {# Education #}
    <div class="row mt-3">
        <h2 class="text-muted flex-0-0">Education</h2>
        <hr class="col" style="margin-top: inherit" />
    </div>
    {% for edu in cv.edu %}
        <div class="row mt-1">
            <div class="col-2">
                {{ edu.start_date }} - {{ edu.end_date }}
            </div>
            <div class="col-10">
                {{ edu.name }}<br/>{{ edu.place }}
            </div>
        </div>
    {% endfor %}

    {# Experience #}
    <div class="row mt-3">
        <h2 class="text-muted flex-0-0">Experience</h2>
        <hr class="col" style="margin-top: inherit" />
    </div>
    {% for exp in cv.exp %}
        <div class="row mt-2">
            <div class="col-2">
                {{ exp.start_date }} - {{ exp.end_date }}
            </div>
            <div class="col-8">
                <h4>{{ exp.name|markdown|safe }}</h4>
                {{ exp.description|markdown|safe }}
            </div>
            <div class="col-2">
                {{ exp.place }}<br/>
                {{ exp.link|markdown|safe }}
            </div>
        </div>
    {% endfor %}

    {# Skills #}
    <div class="row mt-3">
        <h2 class="text-muted flex-0-0">Skills</h2>
        <hr class="col" style="margin-top: inherit" />
    </div>
    {% for skill in cv.ski %}
        <div class="row mt-2">
            <div class="col-2 text-end">
                {{ skill.name }}
            </div>
            <div class="col-4">
                {% for i in 5|times %}
                    {% if i < skill.level %}
                        <!-- Filled -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% else %}
                        <!-- Enpty -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-6">
                {{ skill.details|markdown|safe }}
            </div>
        </div>
    {% endfor %}

    {# Competitions #}
    <div class="row mt-3">
        <h2 class="text-muted flex-0-0">Competitions &amp; Extra-Scolar activities</h2>
        <hr class="col" style="margin-top: inherit" />
    </div>
    {% for comp in cv.com %}
        <div class="row mt-2">
            <div class="col-2">
                {{ comp.date }}
            </div>
            <div class="col-10 text-end">
                {{ comp.name|markdown|safe }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
