{% extends "layouts/app.html" %}
{% load static %}

{% block terminal_title %}home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="home-terminal">
    <div class="profile-section">
        <div class="profile-image">
            <div class="ascii-frame">
                <img src="{% static 'img/minigrim0.jpeg' %}" alt="Minigrim0's avatar" />
            </div>
        </div>

        <div class="profile-info">
            <h1 class="name-header">Florent Grimau</h1>
            <div class="description">
                Student in <strong>Embedded Systems</strong> at
                <a href="https://kth.se">KTH Royal Institute of Technology</a>.
                <br /><br />
                Former member of the <a href="https://urlab.be">UrLab</a> hackerspace.
            </div>
        </div>
    </div>

    <div class="navigation-menu">
        <div class="menu-items">
            <div class="menu-item">
                <a href="{% url 'cv' %}">cv</a>
            </div>
            <div class="menu-item">
                <a href="{% url 'devlog:projects' %}">projects</a>
            </div>
            <div class="menu-item">
                <a href="{% url 'blog:blog-list' %}">blog</a>
            </div>
            <div class="menu-item">
                <a href="https://minigrim0.itch.io/" target="_blank">games</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
