{% extends "layouts/app.html" %}

{% block content %}
    <h1 class="text-muted text-center">Minigrim0</h1>
    <p style="font-size: 1.2em;margin-top: 2em">
        Student in <strong>Embedded Systems</strong> platforms at <a href="https://kth.se">KTH Royal Institue of Technology</a>.<br />
        Ancient member of <a href="https://urlab.be">UrLab</a>, the <href="https://ulb.be">ULB</a>'s student run hackerspace.<br />
        <br/>
        You can find my CV <a href="/cv">here</a><br/>
    </p>
{% endblock %}
